*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  max-width: 660px;
  font-size: 3rem;
}

@keyframes blinker {
  0% { color: #ffffff; fill: #ffffff; }
  50% { color: #3fa4ff; fill: #3fa4ff; }
  100% { color: #ffffff; fill: #ffffff; }
}

#loading {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #0d5ca4;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
  font-size: 2rem;
  animation: blinker 2s linear infinite;

  svg {
    display: inline-block;
    width: 80%;
    path {
      animation: blinker 2s linear infinite;
    }
  }
}

.numy {
  background: #fff;
  height: 100vh;
}

.status {
  background:#0d5ca4;
  border-bottom: #3fa4ff 0.3rem solid;
  padding: 1rem;
  height: 4.5rem;
}

.name {
  text-align: center;
  color: #FFF;
  font-size: 2.5rem;
}

.logo {
  padding: 1rem;
  text-align: center;
}

.logo.fill {
  height: calc(100vh - 21rem);
}

.logo > img {
  height: 100%;
  width: auto;
  max-width: 256px;
  max-height: 256px;
}

.startdisplay {
  padding: 0 1rem;
}

button, .button {
  display: block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  border-bottom: #3fa4ff 0.3rem solid;
  font-size: 2rem;
  color: #ffffff;
  background-color: #0d5ca4;
  padding: 1rem 0;
  margin: 0.5rem 0;
  width: 100%;
}

.start button {
  background:#34A853;
  border-bottom: lighten(#34A853, 15%) 0.3rem solid;
}

.vote a {
  background:#C8110B;
  border-bottom: lighten(#C8110B, 15%) 0.3rem solid;
}

.timer {
  display: inline-block;
  position: absolute;
  left: 1rem;
  color: #FFF;
  font-size: 2rem;
}

.timer.paused {
  animation: blinker 2s linear infinite;
}

.level {
  display: inline-block;
  position: absolute;
  right: 1rem;
  color: #FFF;
  font-size: 1.5rem;
}

.line {
  background: #3fa4ff;
  height: 0.3rem;
}

.display {
  display: table;
  width: calc(100% - 4rem);
  margin: 1rem 2rem;
  text-align: center;
  font-size: 5.8rem;
  line-height: 8rem;
  height: calc(50vh - 6.5rem);
  color: darken(#0d5ca4, 10%);
}

.digitrow {
  display: table-row;
  height: 100%;
}

.digit {
  display: table-cell;
  font-size: 8rem;
  margin: auto;
  vertical-align: middle;
}

.digitrow.paused .digit {
  font-size: 5rem;
}

.keyboard {
  position: relative;
  display: table;
  width: 100%;
  user-select: none;
  height: 50vh;
}

button.keyboard-large-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 66%;
  font-size: 5.8rem;
  background:#34A853;
  border-bottom: lighten(#34A853, 15%) 0.3rem solid;
}

button.again {
  font-size: 3rem;
}

.keyrow {
  display: table-row;
}

.keycell {
  cursor: pointer;
  display: table-cell;
  text-align: center;
  border: #FFF solid 0.05rem;
  font-size: 4.6rem;
  background:#34A853;
  color: #FFF;
  vertical-align: middle;
}

.keycell:focus {
  outline: none;
}

.gameover {
  display: table-cell;
  text-align: center;
  color: darken(#0d5ca4, 10%);
  font-weight: bold;
}

.howto {
  font-size: 1rem;
  color: darken(#0d5ca4, 10%);
  background-color: #fff;
  padding: 1rem;
}
